<!-- <header class="">
      <a href="#" class="logo">
        <img src="img/Logo gamemania recortada.png" alt="" />
      </a>

      <nav class="menu">
        <a href="#">Catalogo </a>
        <a href="">Inicio </a>
        <a href="#">Suporte </a>

        <div class="searchbar">
          <input type="text" placeholder="Pesquisar" />
          <button type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </nav>

      <div class="button-holder">
        <a href="./login/index.html" class="login-button">
          <i class="fas fa-user"></i>
          <span>Login</span>
        </a>
        <button class="cart-button">
          <i class="fa-solid fa-cart-shopping"></i>
        </button>
      </div>
    </header> -->

<nav class="navbar navbar-expand-md bg-light fixed-top">
  <div class="container-fluid">
    <a href="#" class="logo navbar-brand">
      <img src="../../../assets/img/Logo gamemania recortada.png" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mx-4 mb-lg-0">
        <li class="nav-item menu-text">
          <a class="nav-link active" aria-current="page" href="#">INICIO</a>
        </li>
        <li class="nav-item menu-text">
          <a class="nav-link" href="#">SOBRE NOS</a>
        </li>
        <li class="nav-item menu-text">
          <a class="nav-link" href="#">SUPORTE</a>
        </li>
      </ul>
      <div class="searchbar flex-shrink">
        <input type="text" placeholder="Pesquisar" />
        <button type="submit"></button>
      </div>
      <div class="button-holder mx-4">
        <a href="./login/index.html" class="login-button">
          <span>Login</span>
        </a>
        <button class="cart-button">
          <i class="fa-solid fa-cart-shopping"></i>
        </button>
      </div>
    </div>
  </div>
</nav>

<main>
  <div class="banner"></div>

  <h2 class="section-title">Produtos mais vendidos</h2>
  <section class="most-wanted">
    <button id="product-button-left" class="arrow-button"></button>

    <div id="row" class="product-row">
      <div class="product-card">
        <img src="../../../assets/img/fone1.jpg" alt="" />
        <b class="product-name">HyperY Cold</b>
        <p class="product-price">R$ 300,00</p>
        <p class="product-parcel">Em até 6 vezes sem juros</p>
      </div>

      <div class="product-card">
        <img src="../../../assets/img/mouse1.jpg" />
        <b class="product-name">Bluedragon Hive 1600 dpi</b>
        <p class="product-price">R$ 500,00</p>
        <p class="product-parcel">Em até 12 vezes sem juros</p>
      </div>

      <div class="product-card">
        <img src="../../../assets/img/playl1.jpg" alt="" />
        <b class="product-name">Gamestation 5 1TB</b>
        <p class="product-price">R$ 8.000,00</p>
        <p class="product-parcel">Em até 12 vezes sem juros</p>
      </div>

      <div class="product-card">
        <img src="../../../assets/img/placa1.jpg" alt="" />
        <b class="product-name">Bazooka RTZ 3060 TI</b>
        <p class="product-price">R$ 6.000,00</p>
        <p class="product-parcel">Em até 12 vezes sem juros</p>
      </div>

      <div class="product-card">
        <img src="../../../assets/img/teclado1.jpg" alt="" />
        <b class="product-name">HyperY Yaoll Ogirins 2042</b>
        <p class="product-price">R$ 1.000,00</p>
        <p class="product-parcel">Em até 10 vezes sem juros</p>
      </div>
    </div>

    <button id="product-button-right" class="arrow-button"></button>
  </section>
</main>

<footer>
  <div class="about">
    <h4>Sobre nós</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, nostrum!
      Magnam molestiae, iste, ipsum possimus, quibusdam ab at quo hic tempore
      quas ipsa ipsam sunt culpa atque ea velit architecto.
    </p>
  </div>
  <img src="../../../assets/img/Logo gamemania recortada.png" alt="" />
  <div class="politics">
    <h4>Políticas</h4>
    <ul>
      <li>foobar</li>
      <li>foobar</li>
      <li>foobar</li>
    </ul>
  </div>
  <div class="social">
    <ul>
      <li>
        <i class="fab fa-whatsapp"></i>
        (61) *****-****
      </li>
      <li>
        <i class="fab fa-instagram"></i>
        @Game.Mania
      </li>
      <li>
        <i class="fab fa-twitter"></i>
        @Game.Mania
      </li>
    </ul>
  </div>
</footer>
